html{
    font-size: 10px;
    box-sizing: border-box;
}
body{
    color: black;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    
}

a{
    color: inherit;
    text-decoration: none;
}
.container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
}
/*--------------------NAVBAR---------------------*/
#nav{
    font-size: 2.25rem;
    background-color:#7B1FA2 ;
    display: flex;
    justify-content: space-between;
    margin: -1rem -1rem 0rem -1rem;
    flex-wrap: wrap;
}
.navleft{
    display: flex;
    flex-wrap: wrap;
}
.navright{
    display: flex;
    flex-wrap: wrap;
}
.navel{
    margin: 1rem;
    height: 100%;
    color:#FFFFFF;
    padding: 0.5rem;
}
.navel:hover{
    text-decoration: underline;
}
.social-links{
    display: flex;
    flex-wrap: wrap;
}

/*--------------------------------button------------------------------------------------*/
.mybtn{
    overflow: hidden;
    color: black;  /* button text color*/
    border-radius: 3rem;          
    box-shadow: 0px 0px 0px 0px rgba(143, 64, 248, 0.5), 0px 0px 0px 0px rgba(39, 200, 255, 0.5);
    font-size: 2rem;
}
.mybtn:hover{
    transform: translate(0,-6px);
    box-shadow: 1rem -1rem 2.5rem 0rem rgba(143, 64, 248, 0.5), 1rem -1rem 2.5rem 0rem rgba(39, 200, 255, 0.5);
}
.mybtn:hover::after{
transform: rotate(150deg);
}
.mybtn::after{
content: '';
width: 40rem;
height: 40rem;
position: absolute;
top: -5rem;
left: -10rem;
background-color: #ff3cac;
background-image: linear-gradient(225deg, #27d86c 0%, #26caf8 50%, #c625d0 100%);  
z-index: -1;
transition: all .5s ease;  
}
    /*-------------------------------------*/


















/*-------<<<<<<<<<<<<<<******>>>>>>>>>----------------TOP SECTION--------------------<<<<<<<<*******>>>>>>>>----------------------------------*/
#top{
    background-color: black;
}
.topsection{
    height: 60rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    text-align: center;
    color: white;
}
#topsection1{
    background: url("images/bg1.jpg") no-repeat center;
    background-size: cover;
}
#topsection2{
    background: url("images/bg2.jpg") no-repeat center;
    background-size: cover;
}
#topsection3{
    background: url("images/bg3.jpg") no-repeat center;
    background-size: cover;
}

.maintext{
    font-family: 'Pacifico', cursive;
    font-size: 4rem;
    width: 80%;

}
.subtext{
    font-size: 2rem;
    font-family: 'Zilla Slab', serif;
    width: 80%;
}
/*-------------------------------button--------------------------------*/
.btn{
    color: #fff;
    background: #9C27B0;
    padding: 20px;
    border-radius: 5px;
    transition: all 0.4s ease 0s;
}
.btn:hover{
        background: #FF9800;
        color: #000000;
        letter-spacing: 1px;
        box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
        transition: all 0.4s ease 0s;
}


/*-------<<<<<<<<<<<<<<******>>>>>>>>>----------------MID SECTION--------------------<<<<<<<<*******>>>>>>>>----------------------------------*/
#mid{
    background-color: #feceab;
    display: flex;
    flex-direction: column;
}
.midsection{
    height: 60rem;
    width: 100%;
}
/*------------------------midsec 1------------------------------*/
#midsection1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#quote-img img{
display: block;
height: 100%;
width: 60%;
margin: 0 auto;
box-shadow: 0px 0px 62px 17px rgba(255,132,124,1);
}
#quote-text{
font-size: 3rem;
width: 60%;
text-align: center;
font-family: 'Playfair Display', serif;
text-shadow: -3px -2px 6px rgba(126, 147, 106, 1);
}
.sgsignature{
font-size: 2rem;
font-family: 'Zilla Slab', serif;
}

.card-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
 .card{
    width: 25%;
    height: 85%;
    box-shadow: -1px 2px 39px 7px rgba(227,29,89,1);    
 }
    .cardcontent{
    padding: 5%;
    text-align: center;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .card img{
    border-radius: 10%;
    display: block;
    max-width: 100%;
    }
    .card h1{    

    }
    .card p{
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
    }

    /*------------------------botsec------------------------------*/
    #bottom{
        background-color: #5D4037;
    }
    .bottomsection{
        height: auto;
        width: 100%;
        color: #FFFFFF;
    }
    /*------------------------botsec 1------------------------------*/
    #bottomsection1{
       font-size: 2rem;
       text-align: center;
    }
   .botlinks{
       margin-top: 15%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    /*------------------------botsec 1------------------------------*/
    #bottomsection2{
        margin-top: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 3rem;
        text-align: center;
    }